<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inscription - MyJob</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/main.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">

</head>
<body class="page-inscription">

<header id="header" class="header d-flex align-items-center light-background sticky-top">
    <div class="container-fluid position-relative d-flex align-items-center justify-content-between">
        <a href="recruteur-home.html" class="logo d-flex align-items-center me-auto me-xl-0">
            <h1 class="sitename">MyJob</h1>
        </a>
        <div class="header-social-links">
            <a href="/login" class="btn btn-accent text-white">Login</a>
        </div>
    </div>
</header>

<div class="section-title text-center mb-0" style="background-color: #f7f5f4; padding-bottom: 0;">
    <h2>Inscription</h2>
</div>

<main class="py-3">
    <div class="container">
        <div class="row justify-content-center g-4">

            <div class="col-md-5">
                <a href="/recruteur/register" class="text-decoration-none">
                    <div class="custom-card p-0 overflow-hidden h-100">
                        <img src="/assets/img/hero-bg.jpg" class="img-fluid w-100" alt="Recruteur">
                        <div class="text-center py-3">
                            <h4 class="fw-bold text-dark">Je suis un Recruteur</h4>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-md-5">
                <a href="/candidat" class="text-decoration-none">
                    <div class="custom-card p-0 overflow-hidden h-100">
                        <img src="/assets/img/hero-cand-bg.png" class="img-fluid w-100" alt="Candidat">
                        <div class="text-center py-3">
                            <h4 class="fw-bold text-dark">Je suis un Candidat</h4>
                        </div>
                    </div>
                </a>
            </div>

        </div>
    </div>
</main>

<script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>
